{% extends 'base.html.twig' %}

{% block title %}Hello BanniereRestaurationController!{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/restauration.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}
    <!-- Banner Section -->
    <section class="banner-image">
        <div class="container h-100 d-flex align-items-center justify-content-center">
            <div class="banner-content text-center text-white">
                <h1 class="display-4">Bienvenue au Restaurant du Zoo Arcadia</h1>
                <p class="lead">Découvrez nos délicieux plats inspirés de la nature</p>
            </div>
        </div>
    </section>
{% endblock %}
